body{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    margin: 2rem;
}

.center{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 48px;
}

button {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    color: #fff;
    background-color: black;
    padding: 0.75rem 0.4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    outline: 0;
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

.player-setup{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.hidden{
    display: none;
}

.overlay{
    position: fixed;
    height: 10rem;
    width: 100%;
  }

.form__names{
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: auto;
}

.form__names__submit{
    width: 150px;
    grid-row: 1 / span 2;
    grid-column: 2;
    justify-self: start;
    align-self: center;
}

.form-container{
    width: 400px;
    margin: 0 auto;
}

.scoreboard{
    display: grid;
    font-size: 2rem;
    font-weight: bold;
    grid-template-columns: 1fr 1fr;
    width: 500px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}



