body{
    font-family:Arial, Helvetica, sans-serif;
    display: grid;
    height: 100vh;
    place-items: center center;
}

.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 48px;
}